bin/
obj/
.vs/
resources/App/*.lock
resources/App/.mendix-cache
resources/App/extensions/MxLintExtension/*
.DS_Store
dist
node_modules
results/
# Robot Framework local run artifacts
log.html
output.xml
report.html
